@import "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css";

body {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.graphic {
  width: 50%;
}
.graphics-block {
  display: flex;
}

.flex-js-center {
  display: flex;
  justify-content: center;
}

.input-minutes {
  padding: 5px 15px;

  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  outline: none;
  color: #000000;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

#selectItem {
  padding: 4px 20px;

  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  outline: none;
  color: #000000;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

#btnSend {
  padding: 5px 15px;

  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  outline: none;
  color: #000000;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1200px) {
  .graphics-block {
    flex-direction: column;
  }
  .graphic {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  #btnSend,
  #selectItem,
  .input-minutes {
    margin-bottom: 10px;
  }
}
